/* CUSTOM CSS */
.word-spacing {
    word-spacing: 70px;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}